.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.pagination-item {
  display: flex;
  height: 40px;
  width: 40px;
  background: #6c6c6c;
  border-radius: 50%;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;

  &.active {
    background: #ffc700;
  }
}
